packages/
ServiceBroker/
K2WF/
Common/HKTDC.WebAPI.Common/obj/
Common/HKTDC.WebAPI.Common/bin/
Common/HKTDC.WebAPI.Common/Web.config
Common/HKTDC.WebAPI.Common/Web.Release.config
Common/HKTDC.WebAPI.Common/Web.Debug.config
Common/HKTDC.Service.EmailChecker/bin/
Common/HKTDC.Service.EmailChecker/obj/
Common/HKTDC.Service.EmailChecker/App.config
Common/HKTDC.Service.EmailNotification/App.config
Common/HKTDC.Service.EmailNotification/obj/
Common/HKTDC.Service.EmailNotification/bin/
CHSW/HKTDC.WebAPI.CHSW/obj/
CHSW/HKTDC.WebAPI.CHSW/bin/
CHSW/HKTDC.WebAPI.CHSW/Web.config
CHSW/HKTDC.WebAPI.CHSW/Web.Release.config
CHSW/HKTDC.WebAPI.CHSW/Web.Debug.config
Common/HKTDC.WebAPI.Common/Properties/
Common/HKTDC.Service.EmailChecker/Properties/
CHSW/HKTDC.WebAPI.CHSW/Properties/
Common/HKTDC.Service.EmailNotification/Properties/
Common/HKTDC.WebAPI.Common/ClassDiagram1.cd
CHSW/HKTDC.WebAPI.CHSW/ClassDiagram1.cd
.vs/
